<!DOCTYPE html>
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<link rel="shortcut icon" href="/static/favicon.ico">
        <title>Login Panel</title>
    </head>
    <body>
		<h1>OpenTok Flask Chat</h1>
		<form method="POST" accept-charset="utf-8" autocomplete="off">
			{{ form.hidden_tag() }}
			{{ form.name.label }} {{ form.name() }} {% for error in form.name.errors %}{{ error }}{% endfor %}<br>
			{{ form.code.label }} {{ form.code() }} {% for error in form.code.errors %}{{ error }}{% endfor %}<br>
			{{ form.submit() }}
		</form>
		<script type="text/javascript">
			document.getElementById("name").placeholder="Enter Name"
			document.getElementById("code").placeholder="Enter Code (if you have one)"
		</script>
    </body>
</html>