<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html class="supernova">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<meta property="og:title" content="OpenTok Flask Chat" >
		<meta property="og:url" content="https://py-video-chat.herokuapp.com" >
		<meta property="og:description" content="A video chat application for you to enjoy">
		<meta name="HandheldFriendly" content="true" />
		<link rel="canonical" href="https://py-video-chat.herokuapp.com" />
		<link rel="stylesheet" type="text/css" href="/static/style.css">
        <title>Login Panel</title>
    </head>
    <body>
		<h1>OpenTok Flask Chat</h1>
		<form method="POST" accept-charset="utf-8" autocomplete="off">
			{{ form.hidden_tag() }}
			{{ form.name.label }} {{ form.name() }} {% for error in form.name.errors %}{{ error }}{% endfor %}<br>
			{{ form.code.label }} {{ form.code() }} {% for error in form.code.errors %}{{ error }}{% endfor %}<br>
			{{ form.submit() }}
		</form>
		<script type="text/javascript">
			var nameElement=document.getElementById("name");
            var codeElement=document.getElementById("code");
			var alertMsg="{{alert}}";
			var id="{{id}}"
			nameElement.placeholder="Enter Name"
			codeElement.placeholder="Enter Code (if you have one)"
			if(alertMsg != "") {
				if(alertMsg == "Code01")
					alert("Code does not exist! Use new code or leave empty!");
			}
			if(id != ""){
				codeElement.value="{{id}}"
				codeElement.style="display: none;"
				var labels=document.getElementsByTagName('label');
				labels[1].style="display: none;"
			}
		</script>
    </body>
</html>